" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=999
set shiftwidth=2
set shiftround
set tabstop=2
set expandtab
set cursorline
set number relativenumber
set signcolumn=yes
set ignorecase
set smartcase
set virtualedit=block
set nowrap
set ttimeoutlen=50
set timeoutlen=500
" Do incremental searching.
set incsearch
set hlsearch
set showmode
set showcmd
set visualbell
set clipboard+=unnamedplus
filetype plugin indent on
set functiontextobj

" Don't use Ex mode, use Q for formatting.
map Q gq

" Move selected line up and down in Visual Mode
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '>-2<CR>gv=gv

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
set which-key

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
set highlightedyank

let mapleader = " "

" Comment lines
"map gcc <action>(CommentByLineComment)
"nnoremap gcc :action CommentByLineComment<CR>

iabbrev teh the
iabbrev hte the
iabbrev het the
iabbrev ahve have
